.popup__btn-close {
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  max-width: 32px;
  width: 100%;
  aspect-ratio: 1;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: opacity .3s ease;
  cursor: pointer;
}

@media (max-width: 720px) {
  .popup__btn-close {
    top: -37px;
    right: 0;
    max-width: 20px;
    background-size: 20px 20px;
  }
}

.popup__btn-close:hover {
  opacity: .6;
}
