.popup__input {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0 0 9px; /* 13px в дизайне указывается без учета нижних выносных букв */
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  width: 100%;
  height: 27px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-element);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup__input:focus {
  outline-color: rgba(0, 0, 0, .2);
}

.popup__input::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup__input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup__input::-moz-placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
