.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  max-width: 430px;
  min-height: 330px;
  width: 100%;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  background-color: var(--background-element);
}

@media (max-width: 320px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}

.popup__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  max-width: 32px;
  width: 100%;
  aspect-ratio: 1;
  border: 0;
  background-color: transparent;
  background-image: url(./images/close.svg);
  background-position: center;
  background-size: 32px 23px;
  background-repeat: no-repeat;
}

.popup__title {
  margin: 0 0 48px;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-element);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 320px) {
  .popup__title {
    margin-bottom: 75px;
  }
}

.popup__form {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0 0 48px;
  width: 358px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 320px) {
  .popup__form {
    padding-bottom: 45px;
  }
}

.popup__label {
  display: none;
}

.form-profile__item {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  width: 100%;
  height: 27px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-element);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-profile__item:focus {
  outline-color: rgba(0, 0, 0, .2);
}

.form-profile__item::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-profile__item::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-profile__item::-moz-placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup__btn-save {
  padding: 0;
  max-width: 358px;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 0;
  border-radius: 2px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup__btn-save:focus {
  outline-color: rgba(0, 0, 0, .2);
}

@media (max-width: 320px) {
  .popup__btn-save {
    max-width: 238px;
    min-height: 46px;
  }
}


