.gallery__container {
  margin-bottom: 66px;
}

@media (max-width: 320px) {
  .gallery__container {
    margin-bottom: 48px;
  }
}

.gallery__elements {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  align-items: center;
  column-gap: 17px;
  row-gap: 20px;
}

.gallery__element {
  border-radius: 10px;
  background-color: var(--background-element);
  background-position: center;
  background-size: 281px 361px;
}

.gallery__item {
  margin: 0;
  padding: 0;
}

.gallery__caption {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-element);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}











