.profile__subtitle {
  margin: 0;
  padding: 0;
  max-width: 550px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*@media (max-width: 960px) {*/
/*  .profile__subtitle {*/
/*    max-width: clamp(272px, 54vw, 512px);*/
/*    font-size: clamp(14px, 5vw, 18px);*/
/*    line-height: clamp(17px, 5.5vw, 22px);*/
/*  }*/
/*}*/

/*@media (max-width: 720px) {*/
/*  .profile__subtitle {*/
/*    max-width: clamp(262px, 54vw, 642px);*/
/*  }*/
/*}*/

@media (max-width: 320px) {
  .profile__subtitle {
    max-width: 262px;
    font-size: 14px;
    line-height: 1.21;
  }
}
