.popup__error {
  visibility: hidden;
  margin: 10px 0 0;
  padding: 0;
  min-height: 28px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: var(--text-error);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
