.gallery__like {
  padding: 0;
  max-width: 22px;
  width: 100%;
  aspect-ratio: 22 / 19;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-size: 22px 19px;
  background-repeat: no-repeat;
  transition: background-image .15s linear;
}
