.gallery__like {
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  border: none;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
