.card__caption {
  box-sizing: border-box;
  padding: 21px 10px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-areas:
    "card__text card__like"
    "card__text card__counter";
  align-items: center;
  column-gap: 10px;
  row-gap: 3px;
}
