:root {
  --font-family: 'Inter', arial, helvetica, sans-serif;
  --background-color: #000;
  --text-color: #fff;
  --background-element: #fff;
  --text-element: #000;
  --text-footer: #545;
  --text-error: #ff0000;
  --loader_avatar-color-background: #545;
  --loader_avatar-color: #fff;
  --loader_card-color-background: #c0c0c0;
  --loader_card-color: #545;
}
