.content__error {
  visibility: visible;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: var(--text-error);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 720px) {
  .content__error {
    font-size: clamp(17px, 8vw, 32px);
    line-height: clamp(23px, 8.5vw, 38px);
  }
}

@media (max-width: 540px) {
  .content__error {
    font-size: 17px;
    line-height: 23px;
  }
}
