.profile__info {
  margin-right: auto;
  max-width: 336px;
  width: 100%;
  display: grid;
  align-items: baseline;
  grid-template-areas:
  "profile__title profile__btn-edit"
  "profile__subtitle profile__subtitle";
  column-gap: 18px;
  row-gap: 16px;
}

@media (max-width: 720px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 14px;
    align-items: center;
  }
}