.profile__btn-edit {
  grid-area: profile__btn-edit;
  padding: 0;
  width: 24px;
  /*max-width: 24px;*/
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  background-color: #000;
  background-image: url(../../../images/pencil.svg);
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  display: flex;
  order: 2;
}

@media (max-width: 320px) {
  .profile__btn-edit {
    max-width: 18px;
  }
}