.profile__btn-edit {
  grid-area: profile__btn-edit;
  padding: 0;
  max-width: 24px;
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  background-color: transparent;
  background-image: url(../../../images/pencil.svg);
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

@media (max-width: 540px) {
  .profile__btn-edit {
    max-width: 18px;
    justify-self: start;
  }
}
