.page__footer {
  margin-bottom: 60px;
}

@media (max-width: 960px) {
  .page__footer {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 540px) {
  .page__footer {
    margin-bottom: 36px;
  }
}
