.profile__btn-add {
  padding: 0;
  max-width: 150px;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  transition: opacity .3s ease;
  cursor: pointer;
}

@media (max-width: 720px) {
  .profile__btn-add {
    margin-top: 6px;
    max-width: 282px;
    background-size: 16px 16px;
  }
}

.profile__btn-add:hover {
  opacity: .6;
}
